[app]
title = {{ title }}
project_dir = .
input_file = {{ entrypoint }}
exec_directory = .
project_file =
icon = {{ icon }}

[python]
python_path = {{ python_path }}
packages = Nuitka,ordered-set,zstandard,imageio{% if extra_packages %},{{ extra_packages|join(',') }}{% endif %}

[qt]
qml_files =
excluded_qml_plugins =
modules = Widgets,Core,Gui{% if extra_modules %},{{ extra_modules|join(',') }}{% endif %}
plugins = platforms/darwin,platformthemes,accessiblebridge,platforms,xcbglintegrations,iconengines,egldeviceintegrations,platforminputcontexts,imageformats,generic,styles{% if extra_plugins %},{{ extra_plugins|join(',') }}{% endif %}

[nuitka]
macos.permissions =
extra_args = --quiet --no-progressbar --assume-yes-for-downloads --noinclude-qt-translations --static-libpython=no{% if package_data %} --include-package-data={{ package_data }}{% endif %}{% if data_dir %} --include-data-dir={{ data_dir }}{% endif %}
