.idea/

.venv/
.venv*/
venv/
venv*/

.python-version

requirements*.txt

__pycache__/
.pytest_cache/
.import_linter_cache/

build/
dist/
*.egg-info/

resources.rcc
resoruces.py

.DS_Store

.disabled/
