name: Publish
on:
  release:
    types: [ published ]

jobs:
  pypi:
    runs-on: ubuntu-latest
    name: PyPi Publish
    permissions:
      id-token: write
    environment:
      name: pypi
      url: https://pypi.org/p/pyside-app-core
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download Release Assets
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh release download ${{ github.event.release.tag_name }} --dir dist

      # trusted publishing workflow:
      # https://docs.pypi.org/trusted-publishers/adding-a-publisher/
      - name: Publish To PyPi
        uses: pypa/gh-action-pypi-publish@release/v1.8
